# xcode noise
build
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3

# old skool
.svn

# osx noise
.DS_Store
profile

*.swp
*~.nib
/xcode/SCStringsUtility.xcodeproj/xcuserdata
*.xcuserdatad
